
<% include partials/header %>

<div style="text-align: center">
    
    <a href ="/community" class="btn btn-primary">Go Back</a>


<h1>Frequently Asked Questions</h1>

<h3> Why does CoffeeWithNewbs exist?</h3>
<p>Community is built over cups of coffee. After talking to enough of the newbs to #yesphx, I discovered that asking a stranger in the community for coffee is a scary thing for them. <br> 
When you're involved with a community for so long, you know that almost anyone would be willing to sit down with a newcomer and get to know them but it's easy to forget what is was like when we were newbs. <br> Because
of that, I made this website to show to the newbs that there are people that want you to cold email them to ask for coffee. The goal is here is to make getting plugged in...ACTUALLY plugged in... a little less scary</p>
<h3>Doesn't the #yesphx facebook group and slack channel cover this?</h3>
<p>No. I think facebook and slack is a GREAT first step to get someone involved in the community. It introduces them to what is going on, gives them a chance to learn about our <br>
culture a bit, and lets them get their toes wet. With that said, I don't think true friendships can be built online and I beielve that we have a lot of people joining these groups but many<br>
 are never engaged, therefore they never get more invovled withthe community. True friendships are created in person. CoffeeWithNewbs is the next step of someone wanting to get plugged into #yesphx.</p>
 <h3>I want to list myself but I don't want my email publicly accessible. <br> Do you plan on changing the way people are contacted?</h3>
 <p>Yes, this is a short term solution. I wanted a system that was easy to use so I just linked the emails and called it good for the first version. Very soon, I will be changing the way that "the listed" <br>
 can be contacted. This product will be improved every day.</p>
 <h3>Why is the design kinda bland?</h3>
 <p>This website is my personal project to help me learn to code. The design will improve as my abilities do.</p>
<h3> Will there be multiple communities listed on here eventually? </h3>
<p>Yes. #yesphx is my trial run and once we smooth out the edges, we will be adding more communities to the platform</p>
<h3>Who is behind this website?</h3>
<p>That would be me, Mat Sherman. This is a project for me ro help me progress my coding abilities. I can be reached via email at Shermanmat1@gmail.com, by phone (602-717-079two), or on social media @Mat_Sherman </p>


<a href ="/community" class="btn btn-primary">Go Back</a>

<% include partials/footer %>