
 <% include partials/header %>
 

 <div class="container" style="color: orange">
     <header class="jumbotron" style="color: red">
         <div class="container">
             <h1>Get plugged into #yesphx</h1>
             <p>  Everyone listed here makes up a part of #yesphx and they would love to get coffee with some newbs!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/community/new">Add yourself</a>
             </p>
         </div>
     </header>
     
     
     
     
     
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% community.forEach(function(community){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= community.image %>">
                   <div class="caption">
                       <h4><%= community.name %></h4>
                   </div>
                    <p> 
                <a href ="mailto:<%=community.email%>" class="btn btn-primary">Email</a>
                <a href ="mailto:<%=community.email%>" class="btn btn-primary">Linkedin</a>
                
                </p>
                
                </div>
            </div>
        <% }); %>
    </div>
</div>
           
          
       
    
      

<a href="/">Go Back</a>


<% include partials/footer %>