
 <% include partials/header %>
 

 <div class="container">
     <header class="jumbotron" style="text-align: center">
         <div class="container">
             <h1>#yesphx</h1>
             <h2> Browse these community members who want to meet you.  Click the email button and say hi! :)</h2>
             <h3>Want to list yourself? Click below to get started</h3>
             <br>
             <br>
             
             <p>
                <a class="btn btn-primary btn-large" href="/community/new">Add yourself</a>
             </p>
         </div>
     </header>
     
     
     
     
     
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% community.forEach(function(community){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= community.image %>">
                   <div class="caption">
                       <h4><%= community.name %></h4>
                   </div>
                    <p> 
                <a href ="mailto:<%=community.email%>" class="btn btn-primary">Email</a>
                
                
                </p>
                
                </div>
            </div>
        <% }); %>
    </div>
</div>
           
          
       
    
      

<a href="/">Go Back</a>


<% include partials/footer %>