
 <% include partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Meet the community!</h1>
             <p>These people make up an awesome part of #yesphx and they want to get coffee with you. Check em out!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/community/new">Add yourself</a>
             </p>
         </div>
     </header>
     
     
     
     
     
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% community.forEach(function(community){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= community.image %>">
                   <div class="caption">
                       <h4><%= community.name %></h4>
                   </div>
                    <p> 
                <a href ="mailto:<%=community.email%>" class="btn btn-primary">more info</a>
                </p>
                
                </div>
            </div>
        <% }); %>
    </div>
</div>
           
          
       
    
      

<a href="/">Go Back</a>


<% include partials/footer %>