
 
<% include partials/header %>
<div class="container">
    <div class="row">
       
        <h1 style="text-align: center">Time to make a quick account!</h1>
        
     
    
        <div style="text-align: center">
        <h2>You will be able to:</h2>
        <ol>
            <h3>1. List yourself</li>
            <h3>2. Learn more about the community members</h3>
            <h3>3. Contact other community members for coffee</h3>
            <h3>4. Contribute to the growing community of coffeewithnewbs.com!</h3>
            
        
        </ol>
        </div>
        <br>
        <br>
        <br>

        
            <h1 style="text-align: center">GAME TIME.</H1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="First Name">
                </div>
               <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
               
                
                <div class="form-group">
                    <button type="submit" value="login"class="btn btn-lg btn-primary btn-block">Make Account</button>
                </div>
          
               <a class="btn btn-primary btn-block btn-lg" href="/login">Sign In</a>
                
               
            
     
        </div>
    </div>
</div>
<% include partials/footer %>

