
 
<% include partials/header %>
<div class="container">
    <div class="row">
       
        <h1 style="text-align: center">First, you need to make an account</h1>
        
     
    

        <h2 style="text-align: center">You will then be prompted to list yourself :)</h2>

        

        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="First Name">
                </div>
               <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
               
                
                <div class="form-group">
                    <button type="submit" value="login"class="btn btn-lg btn-primary btn-block">Make Account</button>
                </div>
          
               <a class="btn btn-primary btn-block btn-lg" href="/login">Sign In</a>
                
               
            
     
        </div>
    </div>
</div>
<% include partials/footer %>

