
 
<% include partials/header %>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '389143811443077',
      cookie     : true,c9
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container">
    <div class="row">
       
        <h1 style="text-align: center">Time to make a quick account!</h1>
        
     
    
        <div style="text-align: center">
        <h2>You will be able to:</h2>
        <ol>
            <h3>1. List yourself</li>
            <h3>2. Learn more about the community members</h3>
            <h3>3. Contact other community members for coffee</h3>
            <h3>4. Contribute to the growing community of coffeewithnewbs.com!</h3>
            
        
        </ol>
        </div>
        <br>
        <br>
        <br>

        
            <h1 style="text-align: center">GAME TIME.</H1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="First Name">
                </div>
               <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
               
                
                <div class="form-group">
                    <button type="submit" value="login" id="makeAccount"makeclass="btn btn-lg btn-primary btn-block">Make Account</button>
                </div>
                
                
                <script type="text/javascript">
    mixpanel.track_links("#testid", "CHAT TEST", {
        "referrer": document.referrer
    });
</script>
          
               <a class="btn btn-primary btn-block btn-lg" href="/login">Sign In</a>
                
               
           <!--<script>-->
           <!--    mixpanel.people.set({-->
               
           <!--    "$email": register.username-->
               
           <!--    });-->
               
           <!--    mixpanel.identify(register.username);-->
           <!--    </script>-->
    

     
        </div>
    </div>
</div>
<% include partials/footer %>

