<% include partials/header %>


<div style="text-align: center">

<h1>To list yourself, read this carefully</h1>
<br>

<h3>1. Anyone in our community is able to list themselves. It doesn't matter if you have been to one event or only know three other people. </h3>
<br>
<h3>2. I will be updating this platform daily. You may get an email or two about big updates but no spam of course.</h3>
<br>
<h3>3. If you list yourself, expect to get contacted by a lot of people. Respond to every email. <h4>(I will be changing the contacting system soon. A button that goes straight to your email isn't ideal.)</h4> </h3>
<br>
<h3>4. If you don't actually have time to sit down to coffee with newbs, please don't list yourself</h3>
<br>
<h3>5. If at any time, you want to be taken off the list, let Mat Sherman know at shermanmat1@gmail.com</h3>
<br>
<br>
<br>
<h1>If you want to stay updated on platform updates and be a part<br> of the community as it grows, <a href="https://www.facebook.com/groups/2016337025260060/" target="_blank">join our Facebook community!</a></h1>
<br>
<br>
<br>

<a href ="/community/new" class="btn btn-primary">List Yourself</a>

</div>
<% include partials/footer %>