<% include partials/header %>


<h1> Weclome to help a newbie!!!</h1>
<p> Get invovled in a new community is hard. It's harder when you don't know where to start. </p>
<p> Help a newbie is a way members in a community to let the newbs know that they want to get to know them over a cup of coffee. </p>

<h3> It works like this</h3>

<ol>
    <li> Newbies come to our site and pick the community they want to be a part of.</li>
    <li> They see a list of people in that community who are open to getting coffee with a newbie</li>
    <li> Newbies can do this up to five times. After the fidth time, they are then switched to a member of the community, whom newbs can contact to get coffee with</li>
</ol>

<h1> Right now, the only community available is #yesphx. We will be adding more based on demand</h1>

<h2> Newbies:</h2>

<a href="/community"> Meet our community</a>

<h2> The #yesphx Community:</h2>

<a href="/communityMemberSignUp"> Sign up to meet some newbs</a>

<a href="/community">Go Back</a>

