


<% include partials/header %>






<div style="text-align: center">
<h1> CoffeeWithNewbs</h1>

<h2> Where newbs to a community can come and see a list of people in the community who are open to getting coffee.</h2>

<br>
<br>
<br>

<h1> Click on your community </h1>

   <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/community">
                        
                        <img src="http://aztechbeat.com/wp-content/uploads/2015/10/yesphx_logo.jpg">
                    </a>
                   
                   
                   <div class="caption">
                      
                   </div>
                   
</div>


</div>



</div>



<% include partials/footer %>