<% include partials/header %>




<div style="text-align: center">
<h1> Welcome to CoffeeWithANewb!!!</h1>

<h2> When trying to get invovled with a community, coffee conversations are a good start :)</h2>

<br>
<br>
<br>
<h3> It works like this</h3>\

<br>
<br>

<h4>Members of a community can list themselves to get contacted for cups of coffee by newbs</h4>
<h4> Newbs can browse the list of community members and ask any of them to grab coffee via email.</h4>



<h1> Our first community is</h1>

<img src="http://aztechbeat.com/wp-content/uploads/2015/10/yesphx_logo.jpg">


<br> 
<br>

<h1> <a   href="/community">Browse the community :) </a> </h1>


</div>
